html, body, h1, h2 {
  margin: 0;
  padding: 0; }

html {
  background-image: url("https://img00.deviantart.net/0c1c/i/2010/242/7/3/pokemon__mewtwo_by_mark331-d2xldes.jpg");
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat; }

.wrap {
  margin: 0 auto;
  padding: 30px;
  width: 75%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8); }

h1, h2 {
  text-align: center; }

.h3 {
  margin-left: 30px; }
